/* ========== Font ========== */
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

/* ========== Global ========== */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-black: #070707;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-dark-grey: #4d4d4d;
  --color-blue: #79aace;
  --color-orange: #feb546;
  --color-purple: #7943e6;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: all 0.2s;
}

/* ========== Universal tags ========== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  outline: none;
}

body {
  line-height: 1;
  font-family: "NanumSquare", sans-serif;
}

nav,
ul,
menu {
  list-style: none;
}

a {
  color: inherit;
  background: transparent;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* ========== Typography ========== */
h1 {
  line-height: 1.2em;
  margin: 16px 0px;
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
}

h2 {
  margin: 8px 0px;
  font-size: var(--font-semi-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
}

h3 {
  margin: 8px 0px;
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
}

p {
  margin: 4px 0px;
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
}

/* ========== Navbar ========== */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  transition: var(--animation-duration) ease-in-out;
  width: 100%;
  padding: 4px 48px;
  background-color: transparent;
}

#navbar.navbar--open {
  background-color: var(--color-black);
}

.navbar__menu-list {
  display: flex;
}

.navbar__menu__item {
  cursor: pointer;
  padding: 8px 12px;
  color: var(--color-white);
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}

.navbar__menu__item:hover {
  color: var(--color-purple);
}

.navbar__toggle-btn {
  display: none;
  position: absolute;
  right: 32px;
  top: 14px;
  font-size: var(--font-medium);
  color: var(--color-white);
}

#container {
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  height: 100vh;
}

.snap {
  scroll-snap-align: center;
}

/* ========== Home ========== */
#home {
  background: url("images/background.png") center/cover no-repeat;
  height: 100vh;
  padding: 160px;
  text-align: center;
}

.home__avatar {
  object-fit: cover;
  width: 260px;
  height: 260px;
  margin-bottom: 16px;
  border-radius: 20px;
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  margin-top: 24px;
  padding: 8px 12px;
  color: var(--color-white);
  border: 1px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

/* Section Common */
.section {
  margin: auto;
  max-width: 1200px;
  height: 100vh;
  padding: 60px;
  text-align: center;
}

.section > p {
  margin: 20px 0 40px 0;
}

/* ========== About ========== */

/* ========== Skills ========== */

/* ========== Project ========== */
.project__categories {
  margin: 40px;
}

.category__btn {
  width: 200px;
  height: 40px;
  margin: 2px;
  font-size: var(--font-regular);
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
}

.category__btn.active,
.category__btn:hover {
  transition: var(--animation-duration) ease-in;
  color: var(--color-white);
  background-color: var(--color-purple);
}

.project__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: var(--animation-duration) ease-out;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 300px;
  height: 260px;
  margin: 12px;
  background-color: var(--color-light-white);
}

.project__img {
  max-width: 100%;
  height: 100%;
}

.project__description {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(10px);
  transition: var(--animation-duration) ease-in;
  width: 100%;
  height: 100%;
  color: var(--color-white);
  background-color: black;
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description h3 {
  color: var(--color-white);
}

.project__description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 26px;
  height: 2px;
  color: var(--color-white);
}

.project.invisible {
  display: none;
}

.project__items.project-animation {
  opacity: 0;
  transform: scale(0.95) translateY(40px);
}

/* ========== Testimonials ========== */
#slide__wrap {
  position: relative;
  width: 800px;
  margin: auto;
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
}

.slide__box {
  width: 100%;
  margin: auto;
  overflow-x: hidden;
}

.slide__content {
  /* display: table; */
  float: left;
  width: 800px;
  padding: 32px;
  text-align: left;
}

.slide__title {
  font-size: var(--font-regular);
}

.slide__description {
  line-height: 1.5rem;
  margin: 12px 0 32px 0;
  padding: 12px;
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
}

.slide__pair {
  margin: 40px 0 40px 0;
  text-align: center;
}

.slide__review-origin {
  margin-right: 8px;
  text-align: right;
}

.slide__btn {
  position: absolute;
  top: 280px;
  font-size: var(--font-large);
}

.slide__btn.prev {
  left: -80px;
}

.slide__btn.next {
  right: -80px;
}

/* ========== Arrow up ========== */
.arrow-up {
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 32px;
  right: 32px;
  transition: var(--animation-duration) ease-in-out;
  width: 40px;
  height: 40px;
  font-size: var(--font-small);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

.arrow-up:hover {
  color: var(--color-white);
  background-color: var(--color-purple);
}

.arrow-up .fas {
  font-size: var(--font-regular);
  margin-bottom: 2px;
}

/* ========== Responsive ========== */
@media screen and (max-width: 1024px) {
  .navbar__toggle-btn {
    display: block;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-black);
  }

  .navbar__menu {
    display: none;
    width: 100%;
  }

  .navbar__menu-list {
    flex-direction: column;
    text-align: center;
  }

  .navbar__menu.open {
    display: block;
  }
}
