/* ========== Font ========== */
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

/* ========== Global ========== */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-black: #070707;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-dark-grey: #4d4d4d;
  --color-blue: #79aace;
  --color-orange: #feb546;
  --color-purple: #7943e6;
  --color-green: #36d169;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-max-bold: 800;
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: all 0.2s;
}

/* ========== Universal tags ========== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  outline: none;
}

body {
  line-height: 1;
  font-family: "NanumSquare", sans-serif;
}

nav,
ul,
menu {
  list-style: none;
}

a {
  color: inherit;
  background: transparent;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* ========== Typography ========== */
h1 {
  line-height: 1.2em;
  margin: 40px 0 8px 0;
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color);
}

h2 {
  margin-bottom: 16px;
  font-weight: var(--weight-semi-bold);
  color: var(--color);
}

h3 {
  font-weight: var(--weight-semi-bold);
  color: var(--color);
}

p {
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  color: var(--color);
}

/* ========== scroll snap ========== */
#container {
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  height: 100vh;
}

.snap {
  scroll-snap-align: center;
}

/* section Common */
.section {
  position: relative;
  margin: auto;
  max-width: 1300px;
  height: 100vh;
  padding-top: 56px;
  color: var(--color);
  text-align: center;
}

.section > p,
.section > h1 {
  color: var(--color);
}

/* ========== Arrow up ========== */
.arrow-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 32px;
  right: 52px;
  width: 40px;
  height: 40px;
  font-size: var(--font-small);
  color: var(--color);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  background-color: var(--nav);
}

.arrow-up:hover {
  background-color: var(--color-purple);
  color: var(--color-light-white);
}

.arrow-up .fas {
  font-size: var(--font-regular);
  margin-bottom: 2px;
}
