@import "../../style.css";

/* ========== Navbar ========== */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  transition: var(--animation-duration) ease-in-out;
  width: 100%;
  max-width: 1905px;
  padding: 4px 48px;
  color: var(--color-white);
  box-shadow: rgb(0 0 0 / 10%) 0px 2px 10px;
  background-color: transparent;
}

#navbar.navbar--open {
  color: var(--color);
  background-color: var(--nav);
}

.navbar__menu-list {
  display: flex;
}

.navbar__menu__item {
  cursor: pointer;
  padding: 8px 12px;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: 1px solid var(--color);
}

.navbar__menu__item:hover {
  color: var(--color-purple);
}

.navbar__toggle-btn {
  display: none;
  position: absolute;
  right: 32px;
  top: 14px;
  font-size: var(--font-medium);
  color: var(--color-white);
}

/* ========== Nav Responsive ========== */
@media screen and (max-width: 1024px) {
  .navbar__toggle-btn {
    display: block;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-black);
  }

  .navbar__menu {
    display: none;
    width: 100%;
  }

  .navbar__menu-list {
    flex-direction: column;
    text-align: center;
  }

  .navbar__menu.open {
    display: block;
  }
}
