@import "../../style.css";

/* ========== Testimonials ========== */
#slide__wrap {
  position: relative;
  width: 800px;
  margin: auto;
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
}

.slide__box {
  width: 100%;
  margin: auto;
  overflow-x: hidden;
}

.slide__content {
  /* display: table; */
  float: left;
  width: 800px;
  padding: 32px;
  text-align: left;
}

.slide__title {
  font-size: var(--font-regular);
}

.slide__description {
  line-height: 1.5rem;
  margin: 12px 0 32px 0;
  padding: 12px;
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
}

.slide__pair {
  margin: 40px 0 40px 0;
  text-align: center;
}

.slide__review-origin {
  margin-right: 8px;
  text-align: right;
}

.slide__btn {
  position: absolute;
  top: 280px;
  font-size: var(--font-large);
}

.slide__btn.prev {
  left: -80px;
}

.slide__btn.next {
  right: -80px;
}
