@import "../../style.css";

/* ========== About ========== */
#about__container {
  opacity: 0;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 380px;
  left: 0px;
  color: var(--color);
}

#about__container > section {
  width: 100%;
  height: 570px;
  margin: 0 32px;
}

/* ========== About Content ========== */
.content {
  height: 100%;
  padding: 12px 40px;
  line-height: 1.7rem;
  text-align: left;
  border: 1px solid var(--darkmode-white);
  border-radius: var(--size-border-radius);
}

/* ========== Question ========== */
.question__content-question {
  margin: 24px 0 8px 0;
}

/* ========== Education ========== */
.education__content-wrap {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
}

.education__content-wrap > div:nth-child(2) {
  width: 60%;
}

.education__content-date {
  margin-right: 60px;
  font-size: var(--font-micro);
}

.education__content-description {
  width: 100%;
  margin-bottom: 10px;
  font-size: var(--font-micro);
  border-bottom: 1px solid var(--darkmode-white);
}

/* ========== intersection observer ========== */
.about__visible {
  transition: all 0.5s ease-in-out;
  transition-delay: 0.5s;
  transform: translate3d(0, -30%, 0);
}
