@import "../../style.css";

/* ========== Home ========== */
#home {
  background: url("../../images/background.png") center/cover no-repeat;
  height: 100vh;
  text-align: center;
}

#dimed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--color-white);
  background-color: rgba(0, 0, 0, 0.5);
}

#dimed > div {
  position: absolute;
  left: 0;
  width: 100%;
}

.main__message {
  top: 320px;
  z-index: 2000;
  font-size: 120px;
  font-weight: var(--weight-max-bold);
  animation: message 1.5s ease-in-out 0.5s;
}

.sub__message {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 460px;
}

.sub__message-one {
  margin-bottom: 12px;
  font-size: 30px;
  font-weight: 800;
  color: var(--color-white);
}

.sub__message-two {
  font-size: 20px;
  font-weight: var(--weight-max-bold);
  color: var(--color-white);
}

.home__contact {
  opacity: 0;
  margin-top: 52px;
  padding: 8px 12px;
  font-weight: var(--weight-bold);
  color: var(--color-white);
  border: 1px solid var(--darkmode-white);
  border-radius: var(--size-border-radius);
  background-color: transparent;
}

.divider {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
}

.divider__left {
  flex-basis: 50%;
  background-color: var(--color-white);
  animation: left 2s ease-in-out 1s;
}

.divider__right {
  flex-basis: 50%;
  background-color: var(--color-white);
  animation: right 2s ease-in-out 1s;
}

/* ========== wheel down notice ========== */
.wheel__notice {
  opacity: 0;
  top: 690px;
}

.wheel__notice > p {
  color: var(--color-white);
}

.wheel__notice > img {
  font-size: 16px;
}

/* ========== keyframes ========== */
@keyframes message {
  0% {
    color: var(--color-black);
  }

  100% {
    color: var(--color-white);
  }
}

@keyframes left {
  0% {
    margin-right: 0;
  }

  100% {
    margin-right: 100%;
  }
}

@keyframes right {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: 100%;
  }
}

/* ========== intersection observer ========== */
.mainMessage__visible {
  transition: all 0.5s ease-in-out;
  transform: translate3d(0, -70%, 0); 
}

.subMessage__visible {
  transition: all 0.5s ease-in-out 0.5s;
  transform: translate3d(0, -50%, 0); 
}

.contactBtn__visible {
  transition: all 0.5s ease-in-out 1s;
  transform: translate3d(0, -70%, 0); 
}

.wheelNotice__visible {
  transition: all 0.5s ease-in-out 1.5s;
  transform: translate3d(0, -50%, 0); 
}

/* .home__avatar {
  object-fit: cover;
  width: 260px;
  height: 260px;
  margin-bottom: 16px;
  border-radius: 20px;
}

.home__title,
.home__description {
  color: var(--color);
} */